Django==4.2.16
djangorestframework==3.14.0
djangorestframework-simplejwt
django-cors-headers
Pillow==10.3.0
six==1.16.0
django-filter
djongo
pymongo==3.12.3
moviepy
razorpay
opencv-python
validate_email
markdown
django-environ
pandas
openpyxl
djangorestframework-bulk
reportlab
# GDAL